# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production (vite)
/dist

# misc
.DS_Store
*.pem
*.log
.eslintcache

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

